<h1 id="loginbutton">Login</h1>
<form action="/auth/login" method="POST">
  <label for="email" class="color-form">Email
    <input type="email" id="email" name="email" />
  </label>
  <label for="password" class="color-form">Password
    <input type="password" id="password" name="password" />
  </label>
  <button type="submit">Login</button>
</form>
{{#if errorMessage}}
  <p class="error">{{errorMessage}}</p>
{{/if}}