<h1 id="singupbutton">Sign Up</h1>
<form action="/auth/signup" method="POST">
  <label for="username" class="color-form">Username
    <input type="text" id="username" name="username" />
  </label>
  <label for="email" class="color-form">Email
    <input type="email" id="email" name="email" />
  </label>
  <label for="password" class="color-form">Password
    <input type="password" id="password" name="password" />
  </label>
  <button type="submit">Sign Up</button>
</form>
{{#if errorMessage}}
  <p class="error">{{errorMessage}}</p>
{{/if}}