<h1>Review</h1>
<form action="/museum/{{Museum._id}}/review" method="POST">
  <label for="title">Title
    <input type="text" id="title" name="title" />
  </label>
  <label for="">Evaluation
    <input type="range" id="evaluation" name="evaluation" min="1" max="5" />
  </label>

  <label for="comment">Comment
    <input type="text" id="comment" name="comment" />
  </label>
  <button type="submit">Add review</button>
</form>