<form action="/country/addcountry" method="POST">
  <label for="name">Name:
    <input type="text" id="name" name="name" />
  </label>
  <label for="location">Location:
    <input type="text" id="location" name="location" />
  </label>
  <label for="population">Population:
    <input type="text" id="population" name="population" />
  </label>
  <button type="submit">Add Country</button>
</form>