<form action="/country/{{Country._id}}/addcity" method="POST">
  <label for="name">Name:
    <input type="text" id="name" name="name" />
  </label>
  <label for="location">Location:
    <input type="text" id="name" name="location" />
  </label>
  <label for="country">Country:
    <input
      type="text"
      id="country"
      name="country"
      value={{Country.name}}
      disabled="disabled"
    />
  </label>
  <button type="submit">Add the City</button>
</form>