body {
  text-align: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(#fcfcfc, #489dde, #437cc2, #3e5ca6, #3a3c8b);
}
body img {
  display: block;
  margin: 0px auto 100px auto;
  padding: 0;
  width: 60%;
  background-position: center;
  height: 60%;
}

h1 {
  color: 15px;
}

div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}

#loginbutton {
  color: #3e5ca6;
  text-shadow: #fcfcfc 1px 0 10px;
  border-radius: 3px;
  width: 300px;
  height: 275px;
  display: block;
  margin: 30px auto auto auto;
}

.color-form {
  color: #fcfcfc;
  font-weight: bold;
}

#singupbutton {
  color: #3e5ca6;
  text-shadow: #fcfcfc 1px 0 10px;
  border-radius: 3px;
  width: 300px;
  height: 275px;
  display: block;
  margin: 30px auto auto auto;
}
#profilebutton {
  color: #3e5ca6;
  font-size: 60px;
  text-shadow: #fcfcfc 1px 0 10px;
  border-radius: 3px;
  width: 300px;
  height: 275px;
  display: block;
  margin: 30px auto auto auto;
}

.profile-first {
  font-size: 25px;
  color: #fcfcfc;
}

.link-pro {
  text-decoration: none;
}

#logout-form {
  color: #3e5ca6;
  border-radius: 3px;
  width: 300px;
  height: 275px;
  display: block;
  margin: 30px auto auto auto;
}
#mainpage {
  text-align: center;
  padding: 0;
  margin: 300px auto auto auto;
}

.logo-header {
  text-decoration: none;
  font-size: 60px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.logo-header h1 {
  background: -webkit-linear-gradient(
    #fcfcfc 20%,
    #489dde,
    #437cc2,
    #3e5ca6,
    #3a3c8b
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#contries {
  font-size: 60px;
  background: -webkit-linear-gradient(#fcfcfc, #489dde, #3e5ca6 20%, #3a3c8b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 3px;
  width: 300px;
  height: 275px;
  margin: 30px auto auto auto;
}
#contries h3 {
  margin: 0px auto 100px auto;
  padding: 0;
  width: 60%;
  background-position: center;
  height: 60%;
}

.countries-name {
  color: #437cc2;
  text-shadow: 1px 1px 2px #3a3c8b, 0 0 1em #489dde, 0 0 0.2em #fcfcfc;
  font-size: 35px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.cities-name {
  color: #437cc2;
  text-shadow: 1px 1px 2px #3a3c8b, 0 0 1em #489dde, 0 0 0.2em #fcfcfc;
  font-size: 35px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

button {
  background-color: #66a9db;
  border-radius: 100px;
  box-shadow: #3a3c8b 0 -25px 18px -14px inset, #3e5ca6 0 2px 4px,
    #437cc2 0 4px 8px, #489dde 0 8px 16px, #94b3ca 0 16px 32px;
  color: #3e5ca6;
  cursor: pointer;
  display: inline-block;
  font-family: "Trebuchet MS", CerebriSans-Regular, -apple-system, system-ui,
    Roboto, sans-serif;
  font-weight: bold;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: #3a3c8b 0 -25px 18px -14px inset, #3e5ca6 0 1px 2px,
    #437cc2 0 2px 4px, #437cc2 0 4px 8px, #489dde 0 8px 16px,
    #fcfcfc 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.media-scroller {
  display: flex;
  gap: var(--size-3);
  flex-direction: row;
  width: 30%;
}

.media-element img {
  height: auto;
}
