<form action="/city/editcountry/{{City._id}}" method="POST">
  <label for="name">Name:
    <input type="text" id="name" name="name" />
  </label>
  <label for="location">Location:
    <input type="text" id="name" name="location" />
  </label>
  <label for="country">Country:
    <input
      type="text"
      id="country"
      name="country"
      disabled="disabled"
      value={{City.country.name}}
    />
  </label>
  <button type="submit">Edit City</button>
</form>