<form action="/city/{{Country._id}}/editcountry" method="POST">
  <label for="name">Name:
    <input type="text" id="name" name="name" />
  </label>
  <label for="location">Location:
    <input type="text" id="name" name="location" />
  </label>
  <label for="population">Country:
    <input type="text" id="population" name="population" />
  </label>
  <button type="submit">Edit City</button>
</form>